<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create a new site</h3>
        </div>
        <div class="panel-body">
          <div class="progress" style="display: none;">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" required />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="homepage">Homepage</label>
            <input type="text" class="form-control" name="homepage" />
          </div>
        </div>
        <div class="panel-footer text-right">
          <input type="reset" class="btn btn-link" value="Cancel">
          <input type="submit" class="btn btn-primary" value="Create">
        </div>
      </div>
    </form>
  </div>
</div>
